body {

  padding-top: 50px;

}

.starter-template {

  padding: 20px 15px;

  text-align: center;

}


.btn-massive,
.btn-group-massive > .btn {

  padding: 15px 30px;

  font-size: 20px;

  line-height: 1.3333333;

  border-radius: 6px;
}

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

h4 {
  margin-bottom: 10px;
}

.page-header {

  padding-bottom: 9px;
  margin: 15px 0 20px;
  border-bottom: 1px solid #a0a0a0;
}

.row {
  margin-bottom: 5px;
}
.row .row {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -5px;
  margin-right: -5px;
}

.table>thead>tr>th {
    border-bottom: 2px solid #969696;
      border-bottom-width: 2px;
      border-bottom-style: solid;
}

.table>tbody>tr>td {
  border-top: 1px solid #9e9e9e;
}

[class*="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86,61,124,.05);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.invisCol {
  background-color: transparent;
  border: 1px solid transparent;
}

.mainBoard {
  margin-bottom: 60px;
}

.spacedRow {
  margin-bottom: 25px;
}
.nameRow {
  background-color: #eee;
  background-color: rgba(86,61,124,.12);
  margin-bottom: 0px;
  
}
